<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="internationalization.js"></script>


</head>
<body>
<h1>EDIT PAGE</h1>

        <div th:object="${festival}">
            <form th:action="@{/admin/festivaleditor}" method="post">
                <div class="oneinput">
                    <label for="festivalName" class="info">Name: </label>
                    <input type="text" id="festivalName" class="editfield" th:field="*{festivalName}">
                </div>
                <div class="oneinput">
                    <label for="festivalDate" class="info">Date: </label>
                    <input type="text" id="festivalDate" class="editfield" th:field="*{festivalDate}">
                </div>
                <div class="oneinput">
                    <label for="festivalLink" class="info">Link: </label>
                    <input type="text" id="festivalLink" class="editfield" th:field="*{festivalLink}">
                </div>
                <div class="oneinput">
                    <label for="backgroundColor" class="info">Background Color: </label>
                    <input type="color" id="backgroundColor" class="editfield" th:field="*{backgroundColor}">
                </div>
                <div class="oneinput">
                    <label for="festivalImage" class="info">Image: </label>
                    <input type="text" id="festivalImage" class="editfield" th:field="*{festivalImage}">
                </div>
                <div class="oneinput">
                    <input type="submit" value="create" class="smallButton buttonLook">
                </div>
            </form>
        </div>
    </div>

</body>
