body {
    color: #222;
    font-family: "Axiforma",arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
}

div {
    display: block;
}

.festival {
    background-color: #f28629;
    color: #fff;
    position: relative;
    float: left;
    width: 50%;
}

/*figure {*/
/*    display: block;*/
/*}*/