<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Sign Up</h2>
    <div>
        <form th:action="@{/user/signup}" method="post">
            <div class="oneinput">
                <label for="username" class="info">Username: </label>
                <input type="text" id="username" name="userName" class="editfield">
            </div>
            <div class="oneinput">
                <label for="password" class="info">Password: </label>
                <input type="password" id="password" name="password" class="editfield">
            </div>
            <div class="oneinput saveButtonDiv">
                <input type="submit" value="signup" class="smallButton buttonLook">
            </div>
            <div class="oneinput cancelButtonDiv">
                <a href="/home" class="smallButton buttonLook">cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>