
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"  href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />




</head>
<body>
<header th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark text-center px-4 bg-primary">
        <div class="container-fluid">
            <img class="navbar-brand " src="/img/logo.svg" id="logo_custom" width="8%" height="auto"  alt="logo">

            <form class="form-inline mx-auto" target="_self">
                <div class="form-group ">
                    <label for="search-field">
                        <i class="fa fa-search " style="color: #ffc107;" ></i>
                    </label>
                    <input class="form-control search-field" style="color: #ffc107;" type="search" name="search" id="search-field">
                </div>
            </form>
            <button class="navbar-light navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <style>
                .navbar-collapse{
                    transition: all .5s;
                }
            </style>
            <div class="collapse navbar-collapse fs-3" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link active mx-3 " aria-current="page" href="#section1"><span class="text-warning "><strong>Home</strong></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active mx-3" aria-current="page" href="#section1"><span class="text-warning">Nieuws</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-warning mx-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Infos
                        </a>

                        <ul class="dropdown-menu bg-primary text-warning shadow-lg">
                            <li><a class="dropdown-item text-center fw-bold" href="#">Event1</a></li>
                            <li><a class="dropdown-item text-center fw-bold" href="#">Event2</a></li>
                            <li><a class="dropdown-item text-center fw-bold" href="#">Event3</a></li>
                        </ul>

                    <li class="nav-item ml-auto">
                        <a class="nav-link text-warning mx-3" href="#section4">Contact</a>
                    </li>

                    <div class="nav-item dropdown mx-auto mx-3">
                        <button class="nav-link dropdown-toggle text-warning mx-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Taal
                        </button>
                        <div class="dropdown-menu bg-primary shadow-lg">
                            <a class="dropdown-item text-center fw-bold" href="#">
                                <img src="/img/NL.png" width="15%" class="mr-2">
                                Nederlands</a>
                            <a class="dropdown-item text-center fw-bold" href="#">
                                <img src="/img/US.png" width="15%"class="mr-2">
                                Engels</a>
                        </div>
                    </div>

                    <div class="navbar-nav mx-auto mb-2 mb-lg-0 right-cta-menu text-right d-flex  col-6">
                        <div class="mx-auto fs-3 mx-3 ">

                            <a href="/templates/user/login.html" target="_blank" class="btn btn-warning border-width-3  d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
                        </div>
                        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                    </div>
                    <!--
                        <li class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search">
                    </li>
                    <li class="drop-down ms-auto">
                        <div class="wrapper">
                            <img src="/img/US.png" width="50px" class="selectedImg">
                            <div class="selected">English</div>
                        </div>
                            <i class="ri-arrow-drop-down-fill arrow"></i>



                    </li>-->
                </ul>

            </div>
        </div>
    </nav>


</header>


<footer th:fragment="footer" class="container-fluid bg-primary text-center text-white py-3 mt-5 fixed-bottom" id="footer">

    <div class="container p-4 pb-0">

        <section class="mb-4">

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/"target="_blank" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/salihtzc" target="_blank" role="button"
            > <i class="fab fa-github"></i></a>
        </section>

    </div>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#home" > Mehmet Salih Tuzcu</a>, <a class="text-white" href="#home" > Denny Verscheuren</a>, <a class="text-white" href="#home" > Lander Wesenbeek</a>, <a class="text-white" href="#home" > Mouataz Azkour</a>
    </div>

</footer>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>
</html>
