<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div sec:authorize="!isAuthenticated()" th:fragment="loginmenu">

    <li>
        <a class="nav-link text-navtext navtext mx-3" th:href="|@{/login(lang = #{lang.source})}|">
            <span class="login-button" role="button" th:text="#{login.login}">Login</span>
        </a>
    </li>
    <li>
        <a class="nav-link text-navtext navtext mx-3" th:href="|@{/signup(lang = #{lang.source})}|">
            <span class="signup-button" th:text="#{login.signup}">Signup</span>
        </a>
    </li>
</div>
<div sec:authorize="isAuthenticated()" th:fragment="logoutmenu">
    <div class="nav-link text-navtext navtext mx-3">
        <form th:action="@{/user/logout}" method="post">
            <button class="signup-button" type="submit" th:text="#{login.logout}">Logout</button>
        </form>
    </div>
</div>
</body>
</html>