
body {
    color: #222;
    font-family: "Axiforma",arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
}

div {
    display: block;
}


.events{
    display: block;
}


.festival {
    position: relative;
    float: left;
    width: 50%;
}

.festival:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.25s ease;
    transition-duration: 0.25s;
    opacity: 0.85;
}

figure {
    margin: 0;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto;
}


.festival-content {
    /*background-color: #f28629;*/
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.25s ease;
}

.festival-date {
    padding-bottom: 1.25em;
    color: #FFD31C;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.08em;
}


.festival:nth-child(4n+4) .festival-date {
    font-size: 1.1em;
    color: #FFD31C;
    font-weight: 700;
    letter-spacing: 0;
}

.festival-name {
    font-size: 2.3em;
    text-transform: lowercase;
    letter-spacing: 0.08em;
}


.festival:nth-child(4n+4) .festival-name {
    font-size: 1.8em;
    text-transform: lowercase;
    letter-spacing: 0;
}

h3 {
    display: block;
}

.festival:nth-child(4n+1) .festival-cover, .festival:nth-child(4n+2) .festival-cover, .festival:nth-child(4n+3) .festival-cover,.festival:nth-child(4n+4) .festival-cover {
    float: right;
}


figure {
    margin: 0;
}


.festival-contentInner {
    top: 50%;
    display: block;
    padding: 20px 30px 20px 20px;
    text-align: right;
    position: absolute;
    right: 0;
}

.festival-cover, .festival-content {
    width: 50%;
}

.festival-link {
    color: #fff;
}

.more {
    color: #fff;
    font-size: 0.9em;
    text-transform: lowercase;
    text-decoration: none;
}

.festival-moreinfo {
    position: absolute;
    right: 40px;
    bottom: 50px;
}



@media only screen and (max-width: 690px){

    .events{
        display: grid;
    }

    .festival {
        float: none;
        width: auto;
    }

}


@media only screen and (min-width: 691px){

    .festival:nth-child(4n+4) {
        display: none;
    }

}





/* header footer style */




/*body {*/
/*    background-color: white;*/
/*    font-family: "Axiforma",arial,sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 1.5em;*/
/*    position: relative;*/
/*}*/

.navbar {
    border: 1px solid #ddd;
}
nav .nav-link {
    text-shadow: 1px 1px 1px #333;
}

nav .nav-link:hover {

    color: white;
}



.navbar-toggler-icon {

    filter: invert(100%);
    border-radius: 50%;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-toggler span {
    padding:7px;
}

/* Styles for wrapping the search box */

.main {
    width: 10%;

}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;

}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
