
svg {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.empty {
    background-color: #f0f0f0;
    border-radius: 20px;
}


.spotLetter {
    text-decoration-line: none;
}
.map-background{
    background-color: #78c758;
}

.map-filter{
    margin: 0;
}

.map-checkBox{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 550px) {

    svg {
        max-width: 100%;
    }

    .mainArea {
        max-width: 90vw;
        margin-left: 5%;
    }

}

@media screen and (min-width: 550px) {

    svg {
        max-width: 100%;
    }

    .mainArea {
        width: 500px;
        margin: auto;
    }

}