
.language-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
div {
    display: block;
}

h3 {
    display: block;
}

figure {
    margin: 0;
    display: block;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto;
}

svg {
    background-color: #f0f0f0;
    border-radius: 20px;
    border-color: #FFD31C;
    border-width: 6px;
    border-style: solid;
    margin: 5vh 0px;
}


.navbar {
    background: #53C0D7;
    border-bottom-style: solid;
    border-bottom-color: #FFD31C;
    border-bottom-width: 8px;
}

.navtext1 {
    font-weight: bold;
    position: relative;
    color: #253679;
    padding: 0.4em 1em;
}

.navtext1::after,
.navtext1::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.navtext1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #FFD31C;
    border-right-color: #FFD31C;
}

.navtext1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #FFD31C;
    border-left-color: #FFD31C;
}

.navtext1:hover::after,
.navtext1:hover::before {
    width: 100%;
    height: 100%;
}

nav .nav-link {

}

nav .nav-link:hover {
    color:#253679;
    font-weight: bold;

}

.navbar-collapse{
 transition: all .5s;
}

.navbar-toggler-icon {

    filter: invert(100%);
    border-radius: 50%;
}

.navtext{
    color: #253679;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-toggler span {
    padding:7px;
}

/* Styles for wrapping the search box */

.main {
    width: 10%;

}


.has-search .form-control {
    padding-left: 2.375rem;

}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

 .dropdown-item{
     transition: all .6s;
 }

 .events {
     display: inline-block;
 }

.festival {
    position: relative;
    float: left;
    width: 50%;
}

.festival:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.25s ease;
    transition-duration: 0.25s;
    opacity: 0.85;
}


.festival-content {
    /*background-color: #f28629;*/
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.25s ease;
}

.festival-date {
    padding-bottom: 1.25em;
    color: #FFD31C;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.08em;
}
.festival:nth-child(4n+4) .festival-date {
    font-size: 1.1em;
    color: #FFD31C;
    font-weight: 700;
    letter-spacing: 0;
}


.festival-name {
    font-size: 2.3em;
    text-transform: lowercase;
    letter-spacing: 0.08em;
}

.festival:nth-child(4n+4) .festival-name {
    font-size: 1.8em;
    text-transform: lowercase;
    letter-spacing: 0;
}

.festival-cover{
    float: right;
}

.festival-contentInner {
    top: 50%;
    display: block;
    padding: 20px 30px 20px 20px;
    text-align: right;
    position: absolute;
    right: 0;
}

.festival-cover, .festival-content {
    width: 50%;
}

.festival-link {
    color: #fff;
}

.more {
    color: #fff;
    font-size: 0.9em;
    text-transform: lowercase;
    text-decoration: none;
}

.festival-moreinfo {
    position: absolute;
    right: 40px;
    bottom: 50px;
}

.festival-active {
    position: absolute;
    right: 40px;
    bottom: 150px;

    font-size: 25px;

    padding: 2px 30px;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
}

.empty {
    background-color: #f0f0f0;
    border-radius: 20px;
}


.spotLetter {
    text-decoration-line: none;
}

.arrow {
    font-size: 30px;
}

.wrapper{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.fa fa-search{
    width: 3rem;
}
.search-field {
    display:inline-block;
    width:80%;
    background:transparent;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ffc107;
    box-shadow:none;
    color:#ffc107;
    transition:border-bottom-color 0.3s;
}

.search-field:focus {
    border-bottom:1px solid #ffc107;
    transition: all 0.5s;
    background: transparent;
}

.map-background{
    background-color: #78c758;
}

.map-filter{
    margin: 0;
    padding: 4px 0px;

}

.map-checkBox{
    width: 30px;
    height: 30px;
}

.map-filter-text{
    color: #253679;
}

.map-spot-pointer{
    text-decoration-line: none;
}

.kader{
    border: #FFD31C;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    padding: 5vh;
    background-color: #53C0D7;
}
.login-button{
    font-weight: bold;

}
.logout{
    background: none;
    border: none;
}

.logout:hover{
    color: white;
}

.scrollbutton {
    color: black;
    text-decoration: none;
}
.signup-button {
    text-align: center;
    font-weight: bold;
    padding: 0.3em 1em;
    border: none;
    outline: none;
    color: #253679;
    background: #FFD31C;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.signup-button:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #253679,
            #219EBC
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.signup-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    border-radius: 10px;
}


.Error{
    text-align: center;
    font-size: 3vw;
}

/*-------------------------------------------------------------------------------------------------------*/
/*   Contact Pagina Stijl Start  */
/*-------------------------------------------------------------------------------------------------------*/

:root {
    --primary : #53C0D7;
    --secondary : #091126;
}

.body-contactpage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg, var(--secondary), var(--primary));

}

.contact{
    height: 70vh;
    width: 75vw;
    display: flex;
    overflow: hidden;
    box-shadow: 0.2rem .5rem #0006;
    border-radius: 1rem;
}

.map, .form {
    width: 50%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.form{
    position: relative;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form h1 {
    color: #fff;
    font: 500 1.8rem sans-serif;
    padding: 0 2rem;

}

.form form {
    padding: 0 2rem;
}

.form input, .form textarea {
    width: 100%;
    padding: 1rem;
    border: .08rem solid var(--primary);
    background-color: unset;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
}

.form input:not(:first-child) , .form textarea, .form button {
    margin-top: .8rem;
}

.form textarea{
    height: 6rem;
    resize: none;
}

.form button {
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 690px) {
    .form::before{
        display: none;

    }
    .map , .map iframe {
        display: none;
    }

    .form {
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------------------------*/
/*   Contact Pagina Stijl End    */
/*-------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width: 690px) {

    .events {
        display: grid;
    }

    .festival {
        float: none;
        width: auto;
    }

    .festival:nth-child(4n+4) .festival-moreinfo {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    svg {
        max-width: 100%;
    }

    .mainArea {
        max-width: 90vw;
        margin-left: 5%;
    }

}

@media screen and (min-width: 550px) {

    svg {
        max-width: 100%;
    }

    .mainArea {
        width: 500px;
        margin: auto;
    }

}