<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"  href="/css/start.css" />


</head>
<body>
<div th:replace="~{/fragments/headerfooter :: header}">Hier komt de header</div>

<span> <br></span>



<div class="events">

    <div th:each="festival :${festivals}" th:style="|background-color: ${festival.getBackgroundColor()}; |" class="festival">

        <a th:href="@{|${festival.getFestivalLink()}|}" class="festival-link" >
            <figure th:style="|background-color: ${festival.getBackgroundColor()}; |" class="festival-cover">
                <img th:src="@{|${festival.getFestivalImage()}|}"  width="484" height="600">
            </figure>
            <span class="festival-content">
                <span class="festival-contentInner">
                    <span th:unless="${festival.onGoing}" th:text="${festival.getFestivalDate()}" class="festival-date">23 - 24.06.2023</span>
                    <span th:if="${festival.onGoing}" class="festival-date">Now Live</span>
                    <h3 th:text="${festival.getFestivalName()}" class="festival-name">DE KOER</h3>
                </span>
                <span class="more festival-moreinfo" th:text="|&rarr; #{readmore}|"> &rarr; Lees meer</span>
                <div th:if="${festival.onGoing}">
                    <span class="festival-active" style="border-color: #b51d35; background-color: #b51d3545; color: #eaacac" th:if="${festival.maxCapacity <= festival.population}" th:text="#{festival.vol}"> Vol</span>
                    <span class="festival-active" style="border-color: #df7e34; background-color: #df7e3445; color: #f6d1a0"th:if="${festival.maxCapacity*0.75 <= festival.population && festival.maxCapacity > festival.population}" th:text="#{festival.druk}">druk</span>
                    <span class="festival-active" style="border-color: #e9d85b; background-color: #e9d85b45; color: #f6efc1"th:if="${festival.maxCapacity*0.5 <= festival.population && festival.maxCapacity*0.75 > festival.population }" th:text="#{festival.middelmatig}">middelmatig druk</span>
                    <span class="festival-active" style="border-color: #99e467; background-color: #99e46745; color: #dff0cc"th:if="${festival.maxCapacity*0.25 <= festival.population && festival.maxCapacity*0.5 > festival.population }" th:text="#{festival.rustig}">rustig</span>
                    <span class="festival-active" style="border-color: #aaecc2; background-color: #aaecc245; color: #dff0cc"th:if="${festival.maxCapacity*0.25 > festival.population}" th:text="#{festival.leeg}">leeg</span>
                </div>
            </span>
        </a>
    </div>
</div>


<!--<div class="freespaceforfooter"></div>-->


</body>
</html>