<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventlijst</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div>
    <div class="festival dekoer">

        <a class="festivalLink" href="https://www.dezomerisvanmechelen.be/evenement/de-koer/info">
            <figure class="foto">
            <img src="https://www.dezomerisvanmechelen.be/sites/default/files/styles/event_cover_front/public/events/cover/KOER_484x600.png?itok=_jrPk8Ly" alt="dekoer">
            </figure>
        </a>

    </div>

</div>


</body>
</html>