<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/map.css}"  href="/css/map.css" />
<head>
    <meta charset="UTF-8">
    <title>MapView</title>
</head>
<body>


<div class="position-absolute mt-xl-5 translate-middle mainArea">

    <form>
        <div class="row">
            <p class="col-2">search </p>
            <input class="col-5 empty" type="text">
        </div>

        <svg
                width="237.17892mm"
                height="205.06258mm"
                viewBox="0 0 237.17892 205.06258"
                version="1.1"
                id="svg720"
                xml:space="preserve"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs717" /><g
                id="layer1"
                transform="translate(25.294638,2.0314404)"><image
       width="237.17891"
       height="205.06258"
       preserveAspectRatio="none"
       style="image-rendering:optimizeQuality"
       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAD6AAAA+gCAYAAADuf+MCAAAACXBIWXMAAA9hAAAPYQGoP6dpAAAg
AElEQVR42uzd23NkZ30v/Gd1t87S6CzN0Yc4G4dggm3C3jvvdvFSRSh8kYtQFP8hN1zuiosLV5ni
LS5CAhjHxIlxAtgez0EjzUij80jda71+Ogwxxh6tlrrX04fPh2pmbC+t9VvdLbXUWt/nm/3nf/5n
EQAAAADoqXr2KKzW3w5Tta3Uo/RUEerh1un/CafFTOpRAIAeGMsOw/Wx/y/1GE90WkyHj07/39Rj
ACTTaDTCwsJCmJqaCvV6PZyenoaDg4Ows7OTejSASlxu/DxM1TZ7tv8PTv425GEs9WkCAAAAAAD0
VC31AAAAAACjoFVMhLvNr4XDfD31KD2VhVZYbfxLqIVm6lEAgB4oPn6173f17DT1CADJTE9Phxs3
boT5+fkwPj7eDqBPTk6G5eXlcPXq1ZBl/f91HOCiDvLLPd3/XP2j1KcIAAAAAADQcwLoAAAAABXa
aL4c9vNrqcfoqYnsYVhtvJV6DACgB/KikXqEM9XCafsGMGpi2HxtbS3Uap99GUBsRF9fH+5F0QCi
w2Ktp/u/VPsg9SkCAAAAAAD0nAA6AAAAQMU2m38VtltfSD1GT03XNsNi/b3UYwAAXZaHsY9v/R9C
r2ePUo8AULnV1dV2CP1JZmZm2o3oAMOsVYyHo3ylZ/tvZEdhuraR+jQBAAAAAAB6SgAdAAAAIIGd
1nNho/nXoRjit2cW6r8Jc7WPUo8BAHRZs5hOPcKZspCnHgGgUvPz8+1weRkC6MAo0IIOAAAAAABw
McN7hTMAAABAnzvMV8Od0/8VTovZ1KP0zErjV2GqtpV6DACgi4qQpR6hhEGYEaA7arVaWFxc7Gh7
gGF3lC/3dP9TtfthPNtLfZoAAAAAAAA94zfLAAAAAAk9KhbCnebXwkkxl3qUnlmp/2toZEepxwAA
"
       id="image744"
       x="-25.29464"/></g>
            <a th:each="toillete:${toilletes}" th:href="${toillete.extraLink}">
                <circle id="pointA" th:cx="${toillete.mapCordinatX}" th:cy="${toillete.mapCordinatY}" r="10" fill="#0022cc" />
                <text fill="#ffffff" class="spotLetter" font-size="12" font-family="Verdana" th:x="${toillete.mapCordinatX} - 5" th:y="${toillete.mapCordinatY} + 6">T</text>
            </a>
            <a th:each="festival:${festivals}" th:href="${festival.extraLink}">
                <circle id="pointA" th:cx="${festival.mapCordinatX}" th:cy="${festival.mapCordinatY}" r="10" fill="#932222" />
                <text fill="#ffffff" font-size="12" font-family="Verdana" th:x="${festival.mapCordinatX} - 5" th:y="${festival.mapCordinatY} + 6">F</text>
            </a>
            <a th:each="voedselKraampje:${voedselKraampjes}" th:href="${voedselKraampje.extraLink}">
                <circle id="pointA" th:cx="${voedselKraampje.mapCordinatX}" th:cy="${voedselKraampje.mapCordinatY}" r="10" fill="#218630" />
                <text fill="#ffffff" font-size="12" font-family="Verdana" th:x="${voedselKraampje.mapCordinatX} - 5" th:y="${voedselKraampje.mapCordinatY} + 6">V</text>
            </a>

        </svg>

        <div class="row">
            <p class="col-1" style="color: #0022cc; max-width: 25px; background-color: #0022cc; border-radius: 50px" >°</p>
            <p class="col-8" style="color: black"> Toilletes </p>
            <input class="col-2" type="checkbox" name="filterToillet" value="true" th:checked="${filterToillet}==true">
        </div>
        <div class="row">
            <p class="col-1" style="color: #932222; max-width: 25px; background-color: #932222; border-radius: 50px" >°</p>
            <p class="col-8" style="color: black"> Festivals </p>
            <input class="col-2" type="checkbox" name="filterFestival" value="true" th:checked="${filterFestival}==true">
        </div>
        <div class="row">
            <p class="col-1" style="color: #218630; max-width: 25px; background-color: #218630; border-radius: 50px" >°</p>
            <p class="col-8" style="color: black">VoedselKraampjes </p>
            <input class="col-2" type="checkbox" name="filterVoedKraam" value="true" th:checked="${filterVoedKraam}==true">
        </div>
        <input type="submit" value="filter"  th:href="@{/map/filter}">
    </form>
</div>






</body>
</html>