<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>map html test</p>
<img th:src="@{/img/MapPlaceHolder.png}" alt="Test" usemap="#testmap" width="400" height="400">
<map name="testmap">
    <area shape="rect" coords="34,44,270,350" th:src="@{/img/cubeTest.png}" alt="Test1" href="">
    <img th:src="@{/img/cubeTest.png}" alt="test img" coords="34,44,270,350">
    <area shape="rect" coords="290,172,333,250" alt="Test2" href="">
    <area shape="circle" coords="337,300,44" alt="Test3" href="">
</map>

</body>
</html>