<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>map html test</p>
    <svg height="400" width="400">
        <path d="M 15 100 L70 200 L70 205 L15 105 Z
  			M 15 100 L170 100 L172 102 L12 102 Z
            M 70 200 L225 200 L227 202 L72 202 Z
            M 225 200 L170 100 L174 104 L229 204 Z
            M 170 100 L70 200 L73 203 L173 103 Z" />
        <a th:each="toillete:${toilletes}" th:href="${toillete.extraLink}">
            <circle id="pointA" th:cx="${toillete.mapCordinatX}" th:cy="${toillete.mapCordinatY}" r="5" fill="#0022ff" />
        </a>
        <a th:each="festival:${festivals}" th:href="${festival.extraLink}">
            <circle id="pointA" th:cx="${festival.mapCordinatX}" th:cy="${festival.mapCordinatY}" r="5" fill="#932222" />
        </a>
        <a th:each="voedselKraampje:${voedselKraampjes}" th:href="${voedselKraampje.extraLink}">
            <circle id="pointA" th:cx="${voedselKraampje.mapCordinatX}" th:cy="${voedselKraampje.mapCordinatY}" r="5" fill="#218630" />
        </a>

    </svg>
</map>

</body>
</html>